
:root {
  --accent:#2720C8;
  --color-background:#121b34;
  --color-text:#e3f6ffd6;
  --accent2:0, 90, 57;
  --color5:#009268;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', 'Segoe UI','Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-weight: 700;
  font-size: 2.6rem;
}
h2{
  font-weight: 200;
  font-size: 2rem;
  white-space: pre-line;
}
h3{
  font-weight: 600;
  font-size: 1.4rem;
}

.line{
  height: 3px;
  background: var(--accent);
}

